body {
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

.header_menu {
    /* background-color: rgba(0,0,0,0.5); */
    background-color: rgba(51, 153, 255, 0.902);
    width: 100%;
    height: 100px;
    display: flex;
}

.logo {
    margin-left: 50px;
    width: 100px;
}

.menu_list {
    display: flex;
    margin-left: 100px;
}

.menu_list-item {
    position: relative;
    list-style: none;
    color: white;
    font-size: 18px;
    padding: 0 50px;
    line-height: 100px;
    cursor: pointer;
}

    .menu_list-item:hover {
        color: rgb(91, 250, 58);
    }

.menu_list-item-link {
    text-decoration: none;
    color: white;
}

    .menu_list-item-link:hover {
        color: rgb(91, 250, 58);
        text-decoration: none;
    }

.menu_list-hot {
    margin-top: 30px;
}

.menu_list-hotline {
    color: white;
    font-size: 18px;
}

.menu_list-item-sub {
    position: absolute;
    display: none;
    z-index: 10;
}

.menu_list-item:hover .menu_list-item-sub {
    display: block;
}

.menu_list-item-sub li {
    display: block;
    list-style: none;
    line-height: 60px;
    width: 160px;
    background-color: rgb(91, 250, 58);
    padding-left: 50px;
}

    .menu_list-item-sub li a {
        text-decoration: none;
        color: white;
    }

    .menu_list-item-sub li:hover {
        background-color: rgb(49, 199, 19);
    }

.header_title-item {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
}

/* xu ly khi có tài khoản */

.menu_list-hot p {
    color: white;
    padding-bottom: 0px !important;
    margin-bottom: 0px !important;
}

.none {
    display: none;
}

.control_account {
    color: white;
    text-decoration: none;
}

.dangxuat {
    color: white;
    text-decoration: none;
}

/* ------------- */

/* footer */
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #3499ffe6;
}

.grid {
    max-width: 1200px;
    margin: 0 auto;
}

.grid_col_3 {
    width: 30%;
}

.footer {
    display: flex;
    padding-bottom: 50px;
}

.footer_col_1 {
    padding: 20px;
}

.footer_col_1-title {
    font-size: 15px;
    margin-top: 20px;
}

.grid_col_3-double {
    display: flex;
    padding-left: 40px;
}

/* main quản lý bài đăng */

.main {
    margin-top: 50px;
    margin-bottom: 100px;
}


.title {
    color: #161E6D;
    text-align: center;
}

table {
    margin-top: 50px;
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    border: 1px solid #bacde0;
}

th {
    text-align: left;
}

.btn_sua {
    border: none;
    padding: 8px;
    background-color: rgba(16, 155, 6, 0.8);
    border-radius: 4px;
    color:#fff;
}

    .btn_sua:hover {
        background-color: rgba(16, 155, 6, 1);
        color: #fff;
        text-decoration: none;
    }

/*.btn_xoa {
    border: none;
    padding: 5px;
    background-color: #b51e20;
    color: #fff;
    border-radius: 4px;
}*/

/*quan ly tai khoan*/
.status_account {
    color: #488e1a;
    font-weight: bold;
}

.btn_xoa {
    border: none;
    padding: 5px;
    background-color: rgba(181, 30, 32, 0.8);
    color: #fff;
    border-radius: 4px;
}

    .btn_xoa:hover {
        background-color: rgb(181, 30, 32);
        color: #fff;
    }


.thembaidang {
    text-decoration: none;
    padding: 7px;
    color: #fff;
    background-color: #161E6D;
    border-radius: 4px;

}

    .thembaidang:hover {
        text-decoration: none;
        color:#fff;
    }
