@model NHNT_G08.Models.TaiKhoan
@section Style {
    <link rel="stylesheet" href="~/css/changepass.css" />
}
<!-- Phần thân trang web -->
<div class="main">
    <div class="form_changepass ">
        <p class="form_changepass-title" style="color: red">Thay đổi mật khẩu</p>
        <form asp-controller="ChangePass" asp-action="Update" enctype="multipart/form-data" method="post">
            <div class="form_changepass-item">
                <label class="form_changepass-item-label" for="">Tên tài khoản</label>
                <input readonly asp-for="tenDangNhap" id="tenDangNhap" class="form_changepass-item-input">
                <span asp-validation-for="tenDangNhap" id="dn_loi_email" style="margin-top: 10px; color: red"></span>
            </div>

            <div class="form_changepass-item">
                <label class="form_changepass-item-label" for="">Mật khẩu cũ</label>
                <input type="password" name="matKhauCu" class="form_changepass-item-input" placeholder="  Nhập mật khẩu cũ">
                @*<span asp-validation-for="matKhau" id="dn_loi_mk" style="margin-top: 10px; color: red"></span>*@
            </div>

            <div class="form_changepass-item">
                <label class="form_changepass-item-label" for="">Mật khẩu mới</label>
                <input asp-for="matKhau" type="password" name="matKhau" id="matKhau" class="form_changepass-item-input" placeholder="  Nhập mật khẩu mới">
                @*<span asp-validation-for="matKhau" id="dn_loi_mk" style="margin-top: 10px; color: red"></span>*@
            </div>
            <div class="form_changepass-item">
                <label class="form_changepass-item-label" for="" placeholder="Nhập lại mật khẩu mới">Nhập lại mật khẩu mới</label>
                <input type="password" name="nhaplai_matkhau" id="nhaplai_matkhau"
                       class="form_changepass-item-input" placeholder="  Nhập lại mật khẩu">
                @*<span asp-validation-for="matKhau" id="dn_loi_mk" style="margin-top: 10px; color: red"></span>*@
            </div>

            <div class="form_changepass-show">
                <input type="checkbox" id="hienThiMatKhau" class="">
                <label class="form_changepass-item-label" for="hienThiMatKhau">Hiển thị mật khẩu</label>
            </div>
            @if (ViewBag.loi != null)
            {
                <div class="alert alert-danger">@ViewBag.loi</div>
            }
            @if (ViewBag.ThanhCong != null)
            {
                <div class="alert alert-success">Thay Đổi Mật Khẩu Thành Công</div>
            }
            <div class="form_changepass-btn">
                <button class="btn btn_changepass" asp-action="Update" type="submit" id="btn_changepass">
                    Cập nhật
                </button>
            </div>
        </form>
    </div>
</div>
<script>
  const checkbox = document.getElementById("hienThiMatKhau");
  
  const matKhauInput = document.getElementById("matKhau");
  const nlmatKhauInput = document.getElementById("nhaplai_matkhau");

  checkbox.addEventListener("change", function() {
    if (checkbox.checked) {
      matKhauInput.type = "text";
      nlmatKhauInput.type = "text";
    } else {
      matKhauInput.type = "password";
      nlmatKhauInput.type = "password";
    }
  });
</script>